<!doctype html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
        <title>HxPlayMachine</title>
        <link rel="stylesheet" type="text/css" href="assets/styles.css" />
    </head>

    <body>
        <div class="playMachine AudioManager">
            <div class="PlaylistPanel playlist active panel">
                <div class="track" id="track::id::">
                    <div class="drag"></div>
                    <div class="title">::title::</div>
                    <div class="remove button"></div>
                </div>
            </div>

            <div class="Footer">
                <div class="extra"></div>
                <div class="ControlBar">
                    <div class="playPauseButton"></div>
                    <div class="previousButton"></div>
                    <div class="forwardButton"></div>
                    <div class="SeekBar">
                        <div class="buffered progress"></div>
                        <div class="played progress">
                            <a class="knob" href="#"></a>
                        </div>
                    </div>
                    <div class="MuteButton button">

                    </div>
                    <div class="SoundLevel">
                        <div class="level"></div>
                        <div class="knob"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
