
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
        <title>HxPlayMachine</title>
        <script data-slp-use="slplayer.ui.group.Group"></script>
        <script data-slp-use="playmachine.audio.AudioManager"></script>
        <script data-slp-use="playmachine.ui.PlaylistPanel"></script>
        <script data-slp-use="playmachine.ui.ControlBar"></script>
        <script data-slp-use="playmachine.ui.SeekBar"></script>
        <script data-slp-use="playmachine.ui.TrackImage"></script>
    </head>

    <body>
        <div class="playMachine Group">
            <div class="Cocktail"></div>
            <div class="AudioManager">
                <audio class="audio">not supported !</audio>
            </div>
            <div class="Header">
                <div class="extra"></div>
                <div class="LangSelector"></div>
                <div class="title"></div>
                <div class="link"><a href="http://www.toonzshop.com" target="_blank">www.toonzshop.com</a></div>
            </div>

            <div class="Body">
                <div class="LeftCol">
                    <div class="Share">
                        <div class="shareTitle">SHARE</div>
                        <div class="facebook button"></div>
                        <div class="embed button"></div>
                    </div>
                    <div class="TrackImage">
                        <img/>
                    </div>
                    <div class="RateButton"></div>
                    <div class="CommentButton"></div>
                    <div class="TrackRate"></div>

                    <div class="AddToCartButton"></div>
                </div>
                <div class="mainCol">
                    <div class="TabComponent">
                        <div class="TabBar">
                            <div class="mainBar bar">
                                <div class="playlistButton button playlist active"></div>
                                <div class="commentButton button release"></div>
                                <div class="infoButton button comment"></div>
                                <div class="cartButton button cart"></div>
                            </div>
                            <div class="secondaryBar">
                                <div class="playlist bar">
                                    <div class="loadButton button"></div>
                                    <div class="saveButton button"></div>
                                    <div class="deleteButton button"></div>
                                    <div class="clearButton button"></div>
                                </div>
                            </div>
                        </div>
                        <div class="TabContainer">
                            <div class="PlaylistPanel playlist active panel">
                                <div class="track" id="track::id::">
                                    <div class="playingIco"></div>
                                    <div class="title">::title::</div>
                                    <div class="remove button"></div>
                                </div>
                            </div>
                            <div class="TrackPanel release panel">
                                <div class="title"></div>
                                <div class="info"></div>
                                <div class="artists"></div>
                                <div class="labels"></div>
                                <div class="style"></div>
                                <div class="description"></div>
                            </div>
                            <div class="CommentPanel comment panel">
                                <div class="addCommentButton"></div>
                                <div class="nbComments"></div>
                                <div class="commentsContainer"></div>
                            </div>
                            <div class="CartPanel cart panel">
                                <div class="itemContainer"></div>
                                <div class="totalContainer">
                                    <div class="total">TOTAL</div>
                                    <div class="price">
                                        <span>10</span>
                                        <div class="value"></div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="addToPlaylistButton">::translations.addPlaylistToCart::</div>
                                    <div class="orderButton">::translations.order::</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="Footer">
                <div class="extra"></div>
                <div class="ControlBar">
                    <div class="previousButton"></div>
                    <div class="playPauseButton"></div>
                    <div class="forwardButton"></div>
                    <div class="SeekBar">
                        <div class="buffered progress"></div>
                        <div class="played progress">
                            <a class="knob" href="#"></a>
                        </div>
                    </div>
                    <div class="muteButton button"></div>
                    <div class="soundLevel">
                        <div class="level"></div>
                        <div class="knob"></div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
